{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<h4>Welder</h4>
<li><a href="/welderlist/welder/">List</a>
<li><a href="/welderlist/welder/add/">Create</a>

<h4>Report</h4>
<li><a href="/welderlist/report/">All Welders</a>
	


{% endblock %}


{% block content %}

	{% if user.is_authenticated %}

		{% block breadcrumbs %}
		
			{{ block.super }}
			{% breadcrumb "Welder List" "welder_list" %}
			
		{% endblock %}
		
		{% render_breadcrumbs %}
		
	    <h2>Cessco Qualified Pressure Welders Log</h2>
	    
	    {% render_table table %}
	    
	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







