{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<li>List
<li><a href="/welderlist/add/">Create</a>
<li>Delete
{% endblock %}


{% block content %}

	{% if user.is_authenticated %}
    
	    <h2>Welder Form</h2>
	    <table width="90%" border=0>

	        <tr><td>{% crispy form %}</td></tr>

	    </table>

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







