{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block js_scripts %}

    <script type="text/javascript">
        $(document).ready(function() 
            { 
                $("#unitTable").tablesorter(); 
            } 
        );
    </script>

{% endblock %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	
		{% if perms.welderlist.select_welderlist %}
		
			{% block breadcrumbs %}

				{{ block.super }}
				{% breadcrumb "Calibration" "calibration_list" %}

			{% endblock %}

			{% render_breadcrumbs %}
		
			{% if messages %} 
				<ul class="messages"> 
					{% for message in messages %} 
						<li id="message_{{ forloop.counter }}"
						{% if message.tags %} class="{{ message.tags }}"{% endif %}> 
						{{ message }} 
						</li> 
					{% endfor %} 
				</ul> 
			{% endif %}

		{% else %}
		
			You do not have permission to access this page. Please contact your System Administrator.
		
		{% endif %}

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







