{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_pagination %}

{% block js_scripts %}
{% endblock %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}

	{% if user.is_authenticated %}
	
		{% if perms.calibration.select_calibration %}

			{% block breadcrumbs %}
		
				{{ block.super }}
				{% breadcrumb "Calibration" "unit_list" %}
			
			{% endblock %}
		
			{% render_breadcrumbs %}
		
		    <h2>Calibration Unit List</h2>

		    {% if table.rows|length > 0 %}
				
			    <table border="0" class="table">
					<tr>
	            		<td>{% render_table table %}</td>
	            		<td valign="top" width="20%">
							<div class="text-right">
							<form action="" method="get">
							{% crispy filter.form filter.form.helper %}
							<input type="submit" value="Apply Filter"/>
							</form>
	            			</div>
						</td>
					</tr>
				</table>

			{% else %}

	    		<table width="90%" border=0 class="table">
	        		<tr>
						<td>Sorry, there are no calibration units in the database.</td>
						<td valign="top" width="20%">
							<div class="text-right">
							<form action="" method="get">
							{% crispy filter.form filter.form.helper %}
							<input type="submit" value="Apply Filter"/>
							</form>
	            			</div>
						</td>
					</tr>
	        	</table>

	        {% endif %}

		{% else %}
		
			You do not have permission to access this page. Please contact your System Administrator.
		
		{% endif %}
		
	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







