{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block content %}

	{% if user.is_authenticated %}
    
	    <h2>Welders</h2>
	    <ul>
	        {% for welder in object_list %}
	            <li>{{ welder_list.last_name }}</li>
	        {% endfor %}
	    </ul>

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







