{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<li>List
<li>Create
<li>Delete
{% endblock %}


{% block content %}

	{% if user.is_authenticated %}
    
	    <h2>Welder List</h2>
	    <table width="90%" border=1>
	        {% for welder in object_list %}
	            <tr><td>{{ welder_list.last_name }}</td></tr>
	        {% empty %}
	        	<tr><td>Sorry, there are no welders in the database.</td></tr>
	        {% endfor %}
	    </table>

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







