{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<li><a href="/welderlist/">List</a>
<li><a href="/welderlist/add/">Create</a>
<li>Delete
{% endblock %}


{% block content %}

	{% if user.is_authenticated %}
    
	    <h2>Welder List</h2>
	    <table width="90%" border=1>
	        {% for welder in object_list %}
	        	
	        	<tr>
		        	<td><a href="/welderlist/{{ welder.id }}/">{{ welder.id }}<a></td>
		        	<td>{{ welder.first_name }}</td>
		            <td>{{ welder.last_name }}</td>
		            <td>{{ welder.absa_number }}</td>
	            </tr>


	        {% empty %}
	        	<tr><td>Sorry, there are no welders in the database.</td></tr>
	        {% endfor %}
	    </table>
	    <table width="90%" border="0">
	    <tr>

	    {% if is_paginated %}
	        <div class="pagination">
	            <span class="page-links">
	                {% if page_obj.has_previous %}

	                    <td width="33%" align="left"><a href="/welderlist?page={{ page_obj.previous_page_number }}">previous</a></td>
	                {% else %}
	                	<td width="33%"></td>
	                {% endif %}
	                <span class="page-current">
	                    <td width="34%" align="center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</td>
	                </span>
	                {% if page_obj.has_next %}
	                    <td width="33%" align="right"><a href="/welderlist?page={{ page_obj.next_page_number }}">next</a></td>
	                {% else %}
	                	<td width="33%"></td>
	                {% endif %}
	            </span>
	        </div>
    	{% endif %}

    	</tr>
    	</table>
	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







