{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<li><a href="/welderlist/">List</a>
<li><a href="/welderlist/add/">Create</a>
<li>Delete
{% endblock %}


{% block content %}

	{% if user.is_authenticated %}

	{% if messages %} 
		<ul class="messages"> 
			{% for message in messages %} 
				<li id="message_{{ forloop.counter }}"
				{% if message.tags %} class="{{ message.tags }}"{% endif %}> 
				{{ message }} 
				</li> 
			{% endfor %} 
		</ul> 
	{% endif %}

	    <h2>Welder Details</h2>
	    <table width="90%" border=1>
	        {% if welder %}
	            <tr><td>{{ welder.id }}</td></tr>
	            <tr><td>{{ welder.first_name }}</td></tr>
	            <tr><td>{{ welder.last_name }}</td></tr>
	            <tr><td>{{ welder.absa_number }}</td></tr>
	        {% else %}
	        	<tr><td>Sorry, there is no information for welder for id {{welder.pk }}</td></tr>
	        {% endif %}
	    </table>

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







