{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}

	{% if user.is_authenticated %}
	
		{% if perms.welderlist.select_welderlist %}

			{% block breadcrumbs %}

				{{ block.super }}
				{% breadcrumb "Welder List" "welder_list" %}
	
				{% breadcrumb_for welder_detail current_welder %}
					{{ current_welder_first_name }}
				    {{ current_welder_last_name }}
				{% endbreadcrumb_for %}
		
				{% breadcrumb "Welder History" "welderhistory_list" %}

			{% endblock %}

			{% render_breadcrumbs %}

			{% if messages %} 
				<ul class="messages"> 
					{% for message in messages %} 
						<li id="message_{{ forloop.counter }}"
						{% if message.tags %} class="{{ message.tags }}"{% endif %}> 
						{{ message }} 
						</li> 
					{% endfor %} 
				</ul> 
			{% endif %}
	
		    {% if welder_history_list %}
	
				<table width="100%" border="0">
		            <tr>
		            	<td align="right" padding="2">
							
							{% if perms.welderlist.add_welder %}
								<a href="/welderlist/history/add/">
									<button type="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-plus"></span>Add
									</button>
								</a>
							{% endif %}
							
		            	</td>
		            </tr>
		        </table>

		        <table width="90%" border="0" class="table table-striped table-bordered table-condensed">
		            <tr>
						<th>Start Date</th>
						<th>End Date</th>
						{% if perms.welderlist.edit_welder %}
			            	<th></th>
						{% endif %}
		            </tr>

						{% for wh in welder_history_list %}
				            <tr>
								<td>{{ wh.start_date|date:"Y-m-d" }}</td>
								<td>{{ wh.end_date|date:"Y-m-d" }}</td>

								{% if perms.welderlist.edit_welder %}
					            	<td width="2%">
					            	    <a href="/welderlist/history/update/{{ wh.id }}/">
							            	<button type="button" class="btn btn-default btn-sm">
							  					<span class="glyphicon glyphicon-pencil"></span> 
							            	</button>
										</a>
									</td>
								{% endif %}
								
				            </tr>

						{% empty %}

				        		<tr><td colspan=
								{% if perms.welderlist.edit_welder %}
								"3"
								{% else %}
								"2"
								{% endif %}
								>Sorry, there is no history records for welder for id {{ welder.pk }}</td></tr>


						{% endfor %}

		        	</table>

		    {% else %}
		
				<table width="90%" border=0 class="table table-striped table-bordered table-condensed">
		    		<tr><td>Sorry, there is no information for welder for id {{ welder.pk }}</td></tr>
		    	</table>
			
		    {% endif %}
		{% else %}
	
			You do not have permission to access this page. Please contact your System Administrator.
	
		{% endif %}

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







