{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block js_scripts %}
    
    <script type="text/javascript">
        $( function() {
            $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd' });
        } );
    </script>

{% endblock %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<h4>Welder</h4>
<li><a href="/welderlist/welder/">List</a>
<li><a href="/welderlist/welder/add/">Create</a>
	
<h4>Search</h4>
<form action="/welderlist/search/" method="get">
	<li><input class="input-medium" id="id_q" name="q" type="text">
	<li><input type="submit" value="Submit">
</form>
{% endblock %}


{% block content %}

	{% if user.is_authenticated %}
	
		{% block breadcrumbs %}

			{{ block.super }}
			{% breadcrumb "Welder List" "welder_list" %}
		
			{% breadcrumb_for welder_detail current_welder %}
				{{ current_welder_first_name }}
			    {{ current_welder_last_name }}
			{% endbreadcrumb_for %}
			
			{% breadcrumb "Welder History" "welderhistory_list" %}
			
			{% breadcrumb "Add" "welderhistory_add" %}

		{% endblock %}

		{% render_breadcrumbs %}
    
	    <table width="90%" border=0>

	        <tr><td>{% crispy form %}</td></tr>

	    </table>

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







