{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}

	{% if user.is_authenticated and perms.welderlist.select_welderlist %}
		
		<h4>Welder</h4>
		<li><a href="/welderlist/welder/">List</a>

		{% if perms.welderlist.add_welder %}
			<li><a href="/welderlist/welder/add/">Create</a>
		
			<h4>Report</h4>
			<li><a href="/welderlist/report/">All Welders</a>
		{% endif %}

	{% endif %}

{% endblock %}


{% block content %}

	{% if user.is_authenticated %}

		{% if perms.welderlist.select_welderlist %}

			{% block breadcrumbs %}

				{{ block.super }}
				{% breadcrumb "Welder List" "welder_list" %}

				{% breadcrumb_for welder_detail current_welder %}
					{{ current_welder_first_name }}
				    {{ current_welder_last_name }}
				{% endbreadcrumb_for %}

				{% breadcrumb "Performance Qualification" "performancequalification_detail" %}

			{% endblock %}

			{% render_breadcrumbs %}

			{% if messages %} 
				<ul class="messages"> 
					{% for message in messages %} 
						<li id="message_{{ forloop.counter }}"
						{% if message.tags %} class="{{ message.tags }}"{% endif %}> 
						{{ message }} 
						</li> 
					{% endfor %} 
				</ul> 
			{% endif %}
			    
			        {% if performancequalification %}
			        	<table width="90%" border=0 class="table table-striped table-bordered table-condensed">
				            <tr><td width="20%">PQ Card Number</td><td>{{ performancequalification.id }}</td></tr>
				            <tr><td width="20%">ABSA Number</td><td>{{ performancequalification.absa_number }}</td></tr>
		                    <tr><td width="20%">f Number</td><td>{{ performancequalification.f_number }}</td></tr>
		                    <tr><td width="20%">Process</td><td>{{ performancequalification.process }}</td></tr>
				            <tr><td width="20%">t Qual Number</td><td>{{ performancequalification.t_qual }}</td></tr>
				            <tr><td width="20%">Minimum Diameter</td><td>{{ performancequalification.minimum_diameter }}</td></tr>
				            <tr><td width="20%">Position</td><td>{{ performancequalification.position }}</td></tr>
				            <tr><td width="20%">Cessco Weld Procedure</td><td>{{ performancequalification.cessco_weld_procedure }}</td></tr>
				            <tr><td width="20%">Original Test Date</td><td>{{ performancequalification.start_date|date:"Y-m-d" }}</td></tr>
				            <tr><td width="20%">Renewal Date</td><td>{{ performancequalification.renewal_date|date:"Y-m-d" }}</td></tr>
				            <tr><td width="20%">Active</td><td>{{ performancequalification.active }}</td></tr>
				        </table>

			        {% else %}
			    		<table width="90%" border=0 class="table table-striped table-bordered table-condensed">
			        		<tr><td>Sorry, there is no information for welder for id {{welder.pk }}</td></tr>
			        	</table>
			        {% endif %}
		{% else %}

			You do not have permission to access this page. Please contact your System Administrator.

		{% endif %}

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







