{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block js_scripts %}

    <script type="text/javascript">
        $(document).ready(function() 
            { 
                $("#performancequalificationTable").tablesorter(); 
            } 
        );
    </script>

{% endblock %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<h4>Welder</h4>
<li><a href="/welderlist/welder/">List</a>
<li><a href="/welderlist/welder/add/">Create</a>
		
	

{% endblock %}


{% block content %}

	{% if user.is_authenticated %}

	{% block breadcrumbs %}

		{{ block.super }}
		{% breadcrumb "Welder List" "welder_list" %}

		{% breadcrumb_for welder_detail current_welder %}
			{{ current_welder_first_name }}
		    {{ current_welder_last_name }}
		{% endbreadcrumb_for %}
	
		{% breadcrumb "Performance Qualification History" "performancequalification_list" %}

	{% endblock %}

	{% render_breadcrumbs %}

	{% if messages %} 
		<ul class="messages"> 
			{% for message in messages %} 
				<li id="message_{{ forloop.counter }}"
				{% if message.tags %} class="{{ message.tags }}"{% endif %}> 
				{{ message }} 
				</li> 
			{% endfor %} 
		</ul> 
	{% endif %}
	
	        {% if performance_qualification_list %}
			
				<table width="100%" border="0">
		            <tr>

		            	<td align="right" padding="2">
							<a href="/welderlist/pq/add/">
								<button type="button" class="btn btn-default btn-lg">
	  								<span class="glyphicon icon-plus"></span>Add
								</button>
							</a>
		            	</td>
		            </tr>
		        </table>

		        <table width="90%" border="0" class="table table-striped table-bordered table-condensed">
		            <tr>
		            	<th>PQ Card Number</th>
						<th>ABSA Number</th>
		            	<th>f Number</th>
		            	<th>Process</th>
		            	<th>t Qual</th>
		            	<th>Minimum Diameter</th>
		            	<th>Position</th>
		            	<th>CWP</th>
						<th>Original Test Date</th>
						<th>Renewal Date</th>
						<th>Active</th>
		            	<th></th>
		            </tr>

						{% for pq in performance_qualification_list %}
				            <tr>
				            	<td>{{ pq.id }}</td>
								<td>{{ pq.absa_number }}</td>
				            	<td>{{ pq.f_number }}</td>
				            	<td>{{ pq.process }}</td>
				            	<td>{{ pq.t_qual }}</td>
				            	<td>{{ pq.minimum_diameter }}</td>
				            	<td>{{ pq.position }}</td>
				            	<td>{{ pq.cessco_weld_procedure }}</td>
								<td>{{ pq.start_date|date:"Y-m-d" }}</td>
								<td>{{ pq.end_date|date:"Y-m-d" }}</td>
								<td>
									{% if pq.active %}
									Yes
									{% else %}
									No
									{% endif %}
								</td>
				            	<td>
				            	    
					            	<button type="button" class="btn btn-default btn-lg">
					            	    <a href="/welderlist/pq/update/{{ pq.id }}/">
					  					<span class="glyphicon icon-pencil"></span> 
					  					</a>       		
					            	</button>

								</td>
				            </tr>

						{% empty %}
				        		<tr><td colspan="12">Sorry, there is no performance qualifications for welder for id {{welder.pk }}</td></tr>

						{% endfor %}

		        	</table>
		        	
		        	


	        {% else %}
	    		<table width="90%" border=0 class="table table-striped table-bordered table-condensed">
	        		<tr><td>Sorry, there is no information for welder for id {{welder.pk }}</td></tr>
	        	</table>
	        {% endif %}



	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







