{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block js_scripts %}
    
    <script type="text/javascript">
        $( function() {
            $('.dateinput').datepicker({ dateFormat: 'yy-mm-dd' });
        } );
    </script>

{% endblock %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<h4>Welder</h4>
<li><a href="/welderlist/welder/">List</a>
<li><a href="/welderlist/welder/add/">Create</a>
		

	
{% endblock %}


{% block content %}

	{% if user.is_authenticated %}
	
		{% block breadcrumbs %}

			{{ block.super }}
			{% breadcrumb "Welder List" "welder_list" %}

			{% breadcrumb_for welder_detail current_welder %}
				{{ current_welder_first_name }}
			    {{ current_welder_last_name }}
			{% endbreadcrumb_for %}

			{% breadcrumb "Performance Qualification History" "performancequalification_list" %}

			{% breadcrumb_for performancequalification_detail performancequalification.id %}
				Update Card Number
			    {{ performancequalification.id }}
			{% endbreadcrumb_for %}

		{% endblock %}

		{% render_breadcrumbs %}

	    <table width="90%" border="0" class="table table-striped table-bordered table-condensed">

	        <tr><td>{% crispy form %}</td></tr>

	    </table>


	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







