{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block navbar-right %}
<h4>Welder</h4>
<li><a href="/welderlist/welder/">List</a>
<li><a href="/welderlist/welder/add/">Create</a>
{% endblock %}


{% block content %}

	{% if user.is_authenticated %}
    
	    <h2>Performance Qualification Form</h2>

	    <table width="90%" border="1">
			<tr><td align="right">Welder ID</td><td width="90%" align="left">{{ current_welder }}</td></tr>
	        <tr><td colspan="2">{% crispy form %}</td></tr>

	    </table>


	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







