{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


<div align=center>
	<table width=80% border=0>
		<tr align=center><td><img src="/static/images/cessco_logo.jpg"></td></tr>
		<tr align=center><td><b>Home</b></td></tr>
		<tr align=center><td></td></tr>
		<tr align=center><td><a href="/welderlist/">Welder List</a></td></tr>
		<tr align=center><td><a href="/admin/">Administration</a></td></tr>
		<tr align=center><td> </td></tr>

		<tr align=center><td>&copy 2013 Cessco Fabrication and Engineering Ltd.</td></tr>
	</table>
</div>

