{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block js_scripts %}{% endblock %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}

	{% if user.is_authenticated %}
	
		{% if perms.calibration.select_calibration %}

			{% block breadcrumbs %}
		
				{{ block.super }}
				{% breadcrumb "Calibration" "unit_list" %}

				{% breadcrumb_for unit_detail current_unit.id %}
					{{ current_unit.serial_number }}
					{{ current_unit.unit_make }}
					{{ current_unit.unit_model }}
					{{ current_unit.unit_type }}
				{% endbreadcrumb_for %}

				{% breadcrumb "Service History" "unithistory_detail" %}	
			
			{% endblock %}
		
			{% render_breadcrumbs %}

		    {% if unithistory_list %}
				<table width="100%" border="0" class="table-condensed">
		            <tr>

		            	<td align="right" padding="2">
							{% if perms.calibration.add_calibration %}
								<a href="/calibration/history/add/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"> </span> Add</button></a>
							{% endif %}
		            	</td>
		            </tr>
		        </table>

				<table id="unitTable" width="90%" border="0" class="table table-striped table-bordered table-condensed">

					<tr>
						<td><strong>Service Date</strong></td>
		            	<td><strong>Service By</strong></td>
		            	<td><strong>Comment</strong></td>
		            	<td><strong>Certificate Issued?</strong></td>
		            	<td><strong>Calibrated?</strong></td>

		            	{% if perms.calibration.add_unit %}
			            	<th></th>
						{% endif %}
					</tr>

					{% for unithistory in unithistory_list %}
				        <tr>
							<td>{{ unithistory.service_date_time|date:"Y-m-d" }}</td>
							<td>{{ unithistory.calibrated_by }}</td>
							<td>{{ unithistory.comment }}</td>
							<td>
								{% if unithistory.certificate_issued %}
								Yes
								{% else %}
								No
								{% endif %}							
							</td>
							<td>
								{% if unithistory.calibrated %}
								Yes
								{% else %}
								No
								{% endif %}							
							</td>

							{% if perms.calibration.add_unit %}
				            	<td>
				            	    <a href="/calibration/history/update/{{ unithistory.id }}/">
						            	<button type="button" class="btn btn-default btn-sm">
						  					<span class="glyphicon glyphicon-pencil"></span> 
						            	</button>
					            	</a> 

								</td>
							{% endif %}	
						</tr>
				    {% endfor %}

			    </table>

			    <table width="90%" border="5" class="table table-striped table-bordered table-condensed">
					<tr>
						{% if unithistory_list_count > 1 %}
		            		<td><div class="text-right">{{ unithistory_list_count }} service records</div></td>
		            	{% else %}
		            		<td><div class="text-right">{{ unithistory_list_count }} service record</div></td>
						{% endif %}
					</tr>
				</table>

			{% else %}

	    		<table width="90%" border=0 class="table table-striped table-bordered table-condensed">
	        		<tr><td>Sorry, there is no service history in the database for this unit.</td></tr>
	        	</table>

	        {% endif %}

		{% else %}
		
			You do not have permission to access this page. Please contact your System Administrator.
		
		{% endif %}
		
	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







