{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ title }} | Home {% endblock %}

{% block branding %}
<h1 id="site-name">Cessco Quality Control</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}

	{% if user.is_authenticated %}

		{% if perms.calibration.edit_unit %}
	
			{% block breadcrumbs %}

				{{ block.super }}
				{% breadcrumb "Calibration" "unit_list" %}

				{% breadcrumb_for unit_detail current_unit.id %}
					{{ current_unit.serial_number }}
					{{ current_unit.unit_make }}
					{{ current_unit.unit_model }}
					{{ current_unit.unit_type }}
				{% endbreadcrumb_for %}

				{% breadcrumb "Update Calibration Unit History Detail" "unithistory_detail" %}

			{% endblock %}

			{% render_breadcrumbs %}

		    <table width="90%" border=0>

		        <tr><td>{% crispy form %}</td></tr>

		    </table>
			
		{% else %}
		
			You do not have permission to access this page. Please contact your System Administrator.
		
		{% endif %}

	{% else %}

		Access denied, please <a href="/login/">login</a>.

	{% endif %}

{% endblock %}







